In [238]:
import pandas as pd
import sqlite3

In [239]:
db = pd.read_csv("Stats.csv")
db.columns = db.columns.str.strip()
db

,NAME,RTG,TEAM,GP,COMP,PASS ATT,PASS ATT/G,PASS YDS,300+ PASS YDS,COMP%,PASS YDS/ATT,YDS/COMP,PASS TD,PASS INT,QBR,PASS LONG,SACKS,SACK YDS,PASS FUML
0,Tyreek Hill,98,MIA,16,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,1.0
1,Justin Jefferson,98,MIN,10,0,1,0.1,0,0,0%,0.0,0.0,0,0,4.0,0,0,0,1.0
2,CeeDee Lamb,97,DAL,17,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,2.0
3,A.J. Brown,96,PHI,17,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,2.0
4,Stefon Diggs,93,BUF,17,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1707,Ardarius Stewart,67,NYJ,15,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,0.0
1708,Bernard Reedy,67,NE,11,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,0.0
1709,Kaelin Clay,67,CAR,13,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,1.0
1710,Freddie Martino,67,TB,8,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,0.0
1711,Neal Sterling,67,NYJ,11,0,0,0.0,0,0,0%,0.0,0.0,0,0,0.0,0,0,0,0.0

In [240]:
# Used when processing snap data
# db = db.drop(["Special Teams Snaps", "SNAPS"], axis=1)

# db.loc[0:244, "YEAR"] = 2023
# db.loc[245:498, "YEAR"] = 2022
# db.loc[499:767, "YEAR"] = 2021
# db.loc[768:1009, "YEAR"] = 2020
# db.loc[1010:1246, "YEAR"] = 2019
# db.loc[1247:1484, "YEAR"] = 2018
# db.loc[1485:1712, "YEAR"] = 2017

# db = db[db["GP"] >= 9].reset_index(drop=True)

# Ran into indexing issues, used this to test solution
# player = db[(db["NAME"] == "Tyreek Hill") & (db["YEAR"] == 2020)]
# player

# db = db.drop(['FanDuel Fantasy Points', 'FanDuel Fantasy Points Per Game', 'DraftKings Fantasy Points', 'DraftKings Fantasy Points Per Game'], axis=1)

# conn = sqlite3.connect('NFL_STATS.db')

# db.to_sql('WR_Rec', conn, if_exists='replace')
# db.to_sql('WR_Rush', conn, if_exists='replace')
# db.to_sql('WR_Pass', conn, if_exists='replace')
# db.to_sql('WR_Snap', conn, if_exists='replace')
# db.to_sql('WR_ppr', conn, if_exists='replace')

# conn.close()